
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div ng-controller="SubCategoryCtrl" ng-init="init()" class="container-fluid body-content">
    <div class="row crds ml-1 p-3 br5">
        <div class="col-10">
            <h2>SubCategory</h2>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <a href="/SubCategory/Add" class="btn btn-success">
                Add <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>

    <div class="row crds ml-1 mt-2 br5">
        <div class="col-12 mb-4 ">
            <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-success pull-right" ng-click="Export('SubCategoryReport')"><i class="fas fa-file-excel"></i></button>
                </div>
                <div style="width:100%; margin:0 auto;" class="table-responsive">
                    <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>SubCat. Id</th>
                                <th>Name</th>
                                <th>Cost</th>
                                <th>Category Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {
        $("#dataTable").DataTable({
            "ajax": {
                "url": "/api/SubCategoryApi/GetListing",
                "type": "GET",
                "dataSrc": "Data"
            },
            "columns": [
                { "data": "Id" },
                { "data": "Name" },
                { "data": "Cost" },
                { "data": "CategoryName" },
                {
                    "render": function (data, type, row) {
                        return `<a title="Edit" class="" style="color:#d49e11" href="/SubCategory/Edit?Id=` + row["Id"] + `"><i class="fas fa-pencil-alt"></i></a>`;
                    },
                    "className": "text-center"
                }
            ]
        });
    });
</script>

