
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div ng-controller="ControllerCtrl" ng-init="AddInit()" class="container-fluid body-content">
    <div class="row crds ml-1 p-3 br5">
        <div class="col-12 d-flex align-items-center justify-content-between">
            <h4>Add Controller</h4>
        </div>
    </div>

    <div class="crds ml-1 p-3 br5 mt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <lable>First Name</lable>
                    <input class="form-control" type="text" ng-model="Controller.FirstName" placeholder="Enter First Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Last Name</lable>
                    <input class="form-control" type="text" ng-model="Controller.LastName" placeholder="Enter Last Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>User Name</lable>
                    <input class="form-control" type="text" ng-model="Controller.UserName" placeholder="Enter User Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Contact</lable>
                    <input class="form-control" type="tel" ng-model="Controller.Contact" placeholder="Enter Contact">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Address</lable>
                    <input class="form-control" type="text" ng-model="Controller.Address" placeholder="Enter Contact">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>CNIC</lable>
                    <input class="form-control" type="text" ng-model="Controller.CNIC" placeholder="Enter Contact">
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <lable>Reference</lable>
                    <ui-select ng-model="Controller.Reference" theme="select2" class="form-control select-dropdown">
                        <ui-select-match placeholder="Select a Reference in the list...">{{$select.selected.FullName}}</ui-select-match>
                        <ui-select-choices repeat="item in ReferenceDropdownList | filter: $select.search">
                            <div ng-bind-html="item.FullName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <lable>Control Center</lable>
                    <ui-select ng-model="Controller.ControlCenter" theme="select2" class="form-control select-dropdown">
                        <ui-select-match placeholder="Select a Control Center in the list...">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="item in ControlCenterDropdownList | filter: $select.search">
                            <div ng-bind-html="item.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Category</lable>
                    <ui-select ng-model="Controller.Category" multiple theme="select2" class="form-control select-dropdown">
                        <ui-select-match placeholder="Select a Category in the list...">{{$item.Name}}</ui-select-match>
                        <ui-select-choices repeat="item in CategoryDropdownList | filter: $select.search">
                            <div ng-bind-html="item.Name | highlight: $select.search"></div>

                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Email</lable>
                    <input class="form-control" type="email" ng-model="Controller.Email" placeholder="Enter Email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Password</lable>
                    <input class="form-control" type="password" ng-model="Controller.Password" placeholder="Enter Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Confirm Password</lable>
                    <input class="form-control" type="password" ng-model="Controller.ConfirmPassword" placeholder="Enter Confirm Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Approval Status</lable>
                    <div class="row">
                        <div class="ml-3 col-md-2">
                            <input class="form-check-input" ng-model="Controller.ApprovalStatus" type="radio" name="approvalStatus" id="approvalStatus1" value="true">
                            <label class="form-check-label" for="exampleRadios1">
                                Yes
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input class="form-check-input" ng-model="Controller.ApprovalStatus" type="radio" name="approvalStatus" id="approvalStatus2" value="false">
                            <label class="form-check-label" for="exampleRadios1">
                                No
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Is Active Status</lable>
                    <div class="row">
                        <div class="ml-3 col-md-2">
                            <input class="form-check-input" ng-model="Controller.IsActive" type="radio" name="isActive" id="isActive1" value="true">
                            <label class="form-check-label" for="exampleRadios1">
                                Yes
                            </label>
                        </div>
                        <div class="col-md-3">
                            <input class="form-check-input" ng-model="Controller.IsActive" type="radio" name="isActive" id="isActive2" value="false">
                            <label class="form-check-label" for="exampleRadios1">
                                No
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Profile Image</label>
                <input type="file" accept="image/*" ngf-select="UploadControllerImage($files,'ProfileImageUrl')" class="form-control-file" />
            </div>
            <div class="form-group col-md-6">
                <img style="max-height: 413px;max-width:200px" src="{{Controller.ProfileImageUrl}}" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>CNIC Front Image</label>
                <input type="file" accept="image/*" ngf-select="UploadControllerImage($files,'CNICFrontImageUrl')" class="form-control-file" />
            </div>
            <div class="form-group col-md-6">

                <img style="max-height: 413px;max-width:200px" src="{{Controller.CNICFrontImageUrl}}" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>CNIC Back Image</label>
                <input type="file" accept="image/*" ngf-select="UploadControllerImage($files,'CNICBackImageUrl')" class="form-control-file" />
            </div>
            <div class="form-group col-md-6">
                <img style="max-height: 413px;max-width:200px" src="{{Controller.CNICBackImageUrl}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <a ng-click="AddController(Controller)" class="btn btn-primary float-right">
                    Submit
                </a>
            </div>
        </div>
    </div>

    <div class="AddUserForm bg-white mt-2">
        <div class="row">
            <div class="form-group col-md-6">
                <label>File Upload</label>
                <input type="file" accept="file/*" ngf-select="UploadFiles($files,'FileUploadUrl')" class="form-control-file" />
            </div>

        </div>
        <div class="row">
            <div ng-repeat="File in Files" class="form-group col-md-3">
                <div ng-if="File.FileType == 0">
                    <img style="max-height: 200px;max-width:200px;object-fit:contain;" src="{{File.FileUploadUrl}}" />
                </div>
                <div ng-if="File.FileType == 1">
                    <a href="{{File.FileUploadUrl}}" target="_blank"><img src="https://img.icons8.com/ios/50/000000/document--v1.png" /> View Document</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

