@using Microsoft.AspNet.Identity;
@using UserRoles = Butler.Model.Enum.Roles;
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div ng-controller="JobCtrl" ng-init="AddInit()" class="container-fluid body-content">
    <div class="row crds ml-1 p-3 br5">
        <div class="col-10">
            <h2>Add New Job</h2>
        </div>
    </div>


    <div class="crds ml-1 p-3 br5 mt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Title</lable><span class="text-danger">*</span>
                    <input class="form-control" type="text" ng-model="Job.Title" placeholder="Enter Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Description</lable><span class="text-danger">*</span>
                    <input class="form-control" type="text" ng-model="Job.Description" placeholder="Enter Description">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Job Status</label>
                    <select ng-model="Job.Status" class="form-control">
                        <option selected value="">Select Job Status</option>
                        <option ng-repeat="Job in JobStatus" value="{{Job.Id}}">{{Job.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Booking Date</lable><span class="text-danger">*</span>
                    <input class="form-control" type="datetime-local" ng-model="Job.BookingDate" placeholder="Enter Job Booking Date">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Job Address</lable><span class="text-danger">*</span>
                    <input class="form-control" type="text" ng-model="Job.JobAddress" placeholder="Enter Job Address">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <lable>Category</lable><span class="text-danger">*</span>
                    <ui-select ng-model="Job.Category" theme="select2" class="form-control select-dropdown">
                        <ui-select-match placeholder="Select a Category in the list...">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="item in CategoryDropdownList | filter: $select.search">
                            <div ng-bind-html="item.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <lable>Customer</lable><span class="text-danger">*</span><a href="" style="float:right;color:#ee594e" data-toggle="modal" data-target="#AddCustomer">Add New Customer<i style="color: #ee594e; font-size: 12px;" class="fas fa-plus"></i></a>
                    <ui-select ng-model="Job.Customer" theme="select2" class="form-control select-dropdown">
                        <ui-select-match placeholder="Select a Customer in the list...">{{$select.selected.FullName}}</ui-select-match>
                        <ui-select-choices repeat="item in CustomerDropdownList | filter: $select.search">
                            <div ng-bind-html="item.FullName | highlight: $select.search"></div>
                            <small ng-bind-html="item.Contact | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-md-6">
                @if (User.IsInRole(UserRoles.Admin))
                {
                    <div class="form-group">
                        <lable>Control Center</lable><span class="text-danger">*</span>
                        <ui-select ng-model="Job.ControlCenter" theme="select2" class="form-control select-dropdown">
                            <ui-select-match placeholder="Select a Control Center in the list...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="item in ControlCenterDropdownList | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                }
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label>Profile Image</label>
                <input type="file" accept="image/*" ngf-select="UploadJobImage($files,'ImageUrl')" class="form-control-file" />
            </div>
            <div class="form-group col-md-6">
                <img style="max-height: 413px;max-width:200px" src="{{Job.ImageUrl}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <a ng-click="AddJob(Job)" class="btn btn-primary float-right">
                    Submit
                </a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="AddCustomer" tabindex="-1" role="dialog" aria-labelledby="AddFavModalLabel1" aria-hidden="true">
        <div class=" modal-dialog modal-lg" role="document" style="padding: 15px 10px;">
            <div class="modal-content border-radius-12px">
                <div class="modal-header border-0">
                    <h5 class="modal-title" id="exampleModalLabel">Add Customer</h5>
                    <button type="button" class="close modal-dimiss-btn border-radius-12px" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Full Name</label>
                            <input type="text" class="form-control border-radius-12px" ng-model="Customer.FullName" placeholder="Enter Full Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Contact</label>
                            <input type="text" class="form-control border-radius-12px" ng-model="Customer.Contact" placeholder="Enter Contact">
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-outline-danger border-radius-12px" data-dismiss="modal">Discard</button>
                    <button type="button" class="btn btn-primary border-radius-12px" ng-click="AddCustomer(Customer)">Add</button>
                </div>
            </div>
        </div>
        <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 12 -9" result="goo" />
                    <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                </filter>
            </defs>
        </svg>
    </div>
</div>

