
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}

<div ng-controller="JobCtrl" ng-init="init()" class="container-fluid body-content">
    <div class="row crds ml-1 p-3 br5">
        <div class="col-10">
            <h2>Job</h2>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <a href="/Job/Add" class="btn btn-success">
                Add <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row crds ml-1 mt-2 br5">
        <div class="col-12 mb-4 ">
            <div class="card-body">
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn btn-success pull-right" ng-click="Export('JobReport')"><i class="fas fa-file-excel"></i></button>
                </div>
                <div style="width:100%; margin:0 auto;" class="table-responsive">
                    <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Desc</th>
                                <th>Customer</th>
                                <th>Contact</th>
                                <th>Address</th>
                                <th>Booking Date</th>
                                <th>Category</th>
                                <th>Center</th>
                                <th>Additional Key</th>
                                <th>Sub Amount</th>
                                <th>Material Cost</th>
                                <th>Total Amount</th>
                                <th>Workers</th>
                                <th>Payment</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <small ng-class="Lead.PmdStatusEnum" class="badge">{{Lead.PmdStatusEnum}}</small>
</div>
<script>

    $(document).ready(function () {
        $("#dataTable").DataTable({
            "ajax": {
                "url": "/api/JobApi/GetListing",
                "type": "GET",
                "dataSrc": "Data",
            },
            "order": [[0, "desc"]],
            "columns": [
                { "data": "Id" },
                
                { "data": "Title" },
                {
                    "data": "Description",
                    "className":"grid-text-overflow"
                },
                //{ "data": "CustomerId" },
                { "data": "CustomerName" },
                { "data": "CustomerContact" },
                { "data": "JobAddress" },
                { "data": "BookingDate" },
                { "data": "CategoryName" },
                { "data": "ControlCenterName" },
                { "data": "AdditionalKey" },
                { "data": "SubAmount" },
                { "data": "MaterialCost" },
                { "data": "Amount" },
                {
                    "data": "WorkerNames"
                    
                },
                { "data": "PaymentStatusEnum" },
                {
                    "data": "StatusEnum",
                    "render": function (data, type, row) { return ` <span  class="badge ` + row["StatusEnum"] + `">` + row["StatusEnum"] + `</span>`; }
                    
                },
                {
                    "render": function (data, type, row) {
                        if (row["ControlCenterName"] === null || row["ControlCenterName"] === '') {
                            return `<a title="Edit" class="" style="color:#d49e11" href="/Job/Edit?Id=` + row["Id"] + `"><i class="fas fa-pencil-alt"></i></a>`;
                        }
                        else if (row["StatusEnum"] !== "Complete" && row["ControlCenterName"] !== null) {
                            return `<a title="Edit" class="" style="color:#d49e11" href="/Job/Edit?Id=` + row["Id"] + `"><i class="fas fa-pencil-alt"></i></a>` +
                                `<a title="Details" class="" style="color:#000000" href="/Job/Details?Id=` + row["Id"] + `"><i class="fas fa-file-alt ml-1"></i></a>`;
                        }
                        else {
                            return `<a title="Details" class="" style="color:#000000" href="/Job/Details?Id=` + row["Id"] + `"><i class="fas fa-file-alt ml-1"></i></a>`;
                        }
                    },

                    "className": "text-center"
                }

            ]
        });
    });
</script>

