
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Sub-DashLayout.cshtml";
}


<div ng-controller="UserCtrl" ng-init="init()" class="container-fluid body-content">
    <div class="row crds ml-1 p-3 br5">
        <div class="col-10">
            <h2>Admin</h2>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <a href="/Admin/Add" class="btn btn-success">
                Add <i class="fas fa-plus"></i>
            </a>
        </div>
    </div>
    <div class="row crds ml-1 mt-2 br5">
        <div class="col-12 mb-4 ">
            <div class="card-body">
                <div style="width:100%; margin:0 auto;" class="table-responsive">
                    <table id="dataTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Full Name</th>
                                <th>Username</th>
                                <th>Contact</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {
        $("#dataTable").DataTable({
            "ajax": {
                "url": "/api/AdminApi/GetListing",
                "type": "GET",
                "dataSrc": "Data"
            },
            "columns": [
                { "data": "Id" },
                
                { "data": "FullName" },
                { "data": "UserName" },
                { "data": "Contact" },
                { "data": "Address" },
                { "data": "Email" },
                {
                    "data": "ApprovalStatus",
                    "render": function (data, type, row) {
                        if (row["ApprovalStatus"])
                            return ` <span  class="badge Completed">Approved</span>`;
                        if (!row["ApprovalStatus"])
                            return ` <span  class="badge Cancelled">Not Approved</span>`;
                        return "NA"
                    }
                },
                {
                    "render": function (data, type, row) { return '<a  style="color:#d49e11" class="" href="/Admin/Edit?Id=' + row["Id"] + '"><i class="fas fa-pencil-alt"></i></a>'; },
                    "className": "text-center"
                }
            ]
        });
    });
</script>

